.container {
    margin: auto;
    padding: 15px;
    border: solid 2px;
    width: 50%;
}

.container p {
    text-align: center;
    font-family: Arial, Helvetica;
    font-size: 11px;
    color: rgb(51, 1, 144);
}

/* Emanuel C A Floriano BSI5 */